.lazyload {
    position: relative;
	background: #eee;
	transition: all .2s ease;
    z-index: 0;
}
.lazyload.done {
	background: transparent;
}

.lazyload img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all .5s ease;
}
.lazyload img.fadeIn {
	opacity: 0;
}
.lazyload img.fadeIn.loaded {
	opacity: 1;
}